.fav {
  min-height: 85.3vh;
}
.fav-h1 {
  margin: 40px;
  text-align: center;
  color: #004219;
}

.card-contant {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 950px) {
  .fav {
    min-height: 84vh;
  }
}
@media (max-width: 550px) {
  .fav {
    min-height: 64vh;
  }
}
