.fav {
  height: 85.3vh;
}
.fav-h1 {
  margin: 40px;
  text-align: center;
  color: #004219;
}
@media (max-width: 950px) {
  .fav {
    height: 84vh;
  }
}
@media (max-width: 550px) {
  .fav {
    height: 64vh;
  }
}
