.job-components {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.job-card {
  max-width: 300px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e0e0e0;
}

.card-text {
  padding: 15px;
}

.card-text h2 {
  margin-bottom: 10px;
}

.card-text h4 {
  margin-bottom: 5px;
  color: #333;
}

.card-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9;
}
.heart {
  color: red;
}
