.job-card {
  display: flex;
  width: 75vw;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  border: 1px solid rgb(222, 222, 222);
}

.card-img {
  width: 30%;
  padding: 10px;
}

.card-img img {
  width: 90%;
  border-radius: 50%;
}

.job-card:hover {
  box-shadow: rgba(0, 0, 0, 0.422) 0px 1px 4px;
  border: 1px solid rgb(182, 182, 182);
}

.card-text {
  width: 69%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.card-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
