.loader {
  border: 10px solid #f3f3f3;
  border-left: 10px solid #0099ff;
  border-radius: 8px;
  padding: 9px;
  box-sizing: border-box;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 1s linear infinite;
  margin: 100px auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
