.signup {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 40px auto;
  padding: 30px 0px;
  border-radius: 10px;
}

.signup form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.signup input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.ConfirmPassword {
  position: relative;
}
.ConfirmPassword span {
  position: absolute;
  top: 17px;
  right: 11px;
  cursor: pointer;
}

.signup span {
  color: rgb(255, 0, 0);
}

.signup input[type="submit"] {
  background-color: #007bffff;
  color: white;
  cursor: pointer;
}

.signup input[type="submit"]:hover {
  background-color: rgb(0, 79, 164);
}
