/* .container {
    position: relative;
} */

.navbar-position {
  position: sticky;
  top: 0;
}

.outlet {
  min-height: 77.3vh;
}
@media (max-width: 767px) {
  .outlet {
    min-height: 80.4vh;
  }
}
